@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	max-width: 100%}

.boxA {
	margin: 0 auto;
	height: auto;
	overflow: auto;
}
.box6{
	margin: 10px;
}
.box6-articre{
	display: block;
	content: "";
}
.box6-articre ul{
	list-style: :none;
}
..box6-articre li{
	float: left;
}
.box6-articre li a{
	display: block;
	padding: 10px 10px;
	color:#000000;
	font-size: 14px;
	text-decoration: none;
}
.box6-articre li a:hover{
	background-color: #c2c2c2;
}
.box6-articre i {
	margin-left: 10px;
}
.menu {

}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ffffff;
}
.box7 {
	height: auto;
	width: 100%;
	margin: 0 auto;
}
.box7 img {
	width: 100%;
}

.top {
	position: relative;
}
.top h1 {
	display: block;
	font-weight: normal;
	font-size: 30px;
}
.top img {
	padding: 20px 20px 20px 0px;
}

.y {
	width: 20px;
	height: 50px;
	background-color: #;
	float: left;
	overflow: auto;
}
.y :after {
	content: "";
	clear: both;
	display: block;
}
.box7 {
	margin-top: 20px;
}
.box7-1.box7-2.box7-3{
	padding-bottom: 10px;
}

.gaiyou a {
	display: block;
	text-decoration: none;
	font-size:38px;
	float: left;
	color: #c2c2c2;
}

.gaiyou h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px 0px 5px 0px;
	font-size:30px;
	font-weight: normal;
	border-bottom: solid 1px #c2c2c2;
	}
.gaiyou p {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	padding-top:15px;
	padding-bottom:15px;
	font-size: 15px;
	}

.gaiyou i {
	color: #c1c1c1;
}
.gaiyou a:hover {
	opacity:0.8+;
}
.gaiyou h1:after {
	display: block;
	clear: both;
	content: "";
}

.boxA	{padding-top: 20px;
	padding-bottom: 10px}

.box7	{padding-top: 20px;
	padding-bottom: 20px}


.box7-1, .box7-2, {
	padding-bottom: 10px
}
.box4 {
	margin-left: 5px;
	border: solid 5px #eeeeee;
}
.box4 ul {
	margin: 0;
	padding: 0;
}
.box4 li {
	border-bottom: solid:1px #eeeeee;
}
.box4 li a {
	display: block;
	padding: 7px 15px;
	color: #000000;
	font-size: 14px;
}
.box4 i {
	clear: #000000;
	padding-right: 1px;
	padding-top: 3px;
}
.box4 li a:hover {
	background-color: #000000;
}
.box4 ul :after {
	content: "";
	display: block;
	clear: both;
}

@media (max-width: 767px){


}